<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/answer" method="get" data-turbo="false" >
        <div class="input-group">
          <input type="text" name="question" class="form-control" value="<%= params[:question] %>">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Ask!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
